h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

button {
  width: 50px;
  display: inline;
}

nav {
  height: 50px;
}

form {
  display: flex;
}

input {
  display: block;
  margin-top: 10px;
  padding: 0 10px;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
}

input[type=submit] {
  background-color: green;
  color: white;
  border-radius: 0 5px 5px 0;
}

.search-bar {
  position: absolute;
  top: 10px;
  right: 30px;
}

.temperature {
  font-size: 100px;
  line-height: 105px;
}

.grid {
  display: grid;
  grid-template-columns: fit-content(500px) 1fr;
  grid-column-gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.home {
  background-image: url("./images/clear.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home.partly-cloudy {
  background-image: url("./images/Partly cloudy.jpg");
}

.home.clear {
  background-image: url("./images/clear.jpg");
}

.home.sunny {
  background-image: url("./images/sunny.jpg");
}

.home-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}
